<div class="background-drop-filter">
  <div class="hero-container">
    <img class="background-image" src="assets/images/oriental-1.png" alt="">
    <div class="title-container">
      <h1 >Gabriel Barbosa</h1>
      <h2>Full Stack Developer</h2>
    </div>

    <a class="next-section" href="#about-section">
      <span class="mdi mdi-arrow-down"></span>
    </a>

    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>

    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal" id="ls-1"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal" id="ls-2"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal" id="ls-3"><img src="assets/svg/petala.svg" alt=""></div>

    <div class="petal-2" id="lsg-1"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal-2" id="lsg-2"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal-2" id="lsg-3"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal-2" id="lsg-4"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal-2" id="lsg-5"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal-2" id="lsg-6"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal-2" id="lsg-7"><img src="assets/svg/petala.svg" alt=""></div>
    <div class="petal-2" id="lsg-8"><img src="assets/svg/petala.svg" alt=""></div>
<!--    <div class="petal"><img src="assets/svg/petala.svg" alt=""></div>-->
  </div>

</div>
